<h4>Your group: <%= @group.group_name %></h4>
<% project = Project.find(@group.project_id) %>
<% if !project.nil? %>
  <strong>Project: <%= project.project_name %></strong>
  <br>
  <p>Description: <%= project.description %></p>
<% end %>
<div id="group-table" style="margin-top: 20px;">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Time Zone</th>
    </tr>
    </thead>
    <tbody>
    <% count = 1 %>
    <% @group.students_id.each do |s| %>
      <tr>
        <% student = Student.find_by_id(s) %>
        <th scope="row"><%= count %></th>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.email %></td>
        <td><%= student.time_zone %></td>
        <% count +=  1 %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>