<%= simple_form_for @course, remote: true do |f| %>
  <%= f.simple_fields_for :projects, project do |p| %>
    <%= p.input :project_name, label: false, placeholder: "Project Name", required: true %>
    <%= p.input :description, as: :text, label: false, placeholder: "Description", required: true%>
  <% end %>
  <div class="container add-projects-button">
    <%= f.submit "Add", class: "btn btn-primary addButton addProjectBtn" %>
  </div>
<% end %>