<% if @course.projects.any? %>
  <% @course.projects.each do |project| %>
    <% if !project.id.nil? %>
<!--    <div class = 'add-project-container'>-->
      <div class="card project-card-active" style="width: 320px; height: 220px;">
        <div class="card-body">
          <div class="row">
            <h4 class='col project-name-text'>
              <%= project.project_name %>
            </h4>
            <div id="col delete-project">
              <%= link_to ('<i class="far fa-trash-alt"> </i>').html_safe, course_project_path(@course, project.id), :method => :delete %>
            </div>
          </div>
          <div class='form-control project-description-text'>
            <p><%= project.description %></p>
          </div>
          <div class="row" id="project-list-buttons" style="margin-top: 20px;">
            <div class ="col" id="edit-project">
              <%= link_to ('<i class="fas fa-edit"> </i>').html_safe, edit_course_project_path(@course, project), {:method => :get, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit-project-modal'}  %>
              <div id="edit-project-modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>
              </div>
            </div>
            <div class ="col" id="mark-project-active" style="font-size: 8px;">
              <% if project.is_active %>
                <div>
                  <%= link_to "Not Active", course_project_path(@course, project, project: {is_active: false}), :method => :patch, class: "btn btn-primary btn-sm"%>
                </div>
              <% else %>
                <div>
                  <%= link_to "Mark Active", course_project_path(@course, project, project: {is_active: true}), :method => :patch, class: "btn btn-primary btn-sm"%>
                </div>
              <% end %>
            </div>
            <div class ="col" id="like-project" style="text-align: right">
              <i class="fas fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
<!--    </div>-->
    <% end %>
  <% end %>
<% end %>
