<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @preference.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @preference.course_id %>
</p>

<p>
  <strong>Subject matter proficiency:</strong>
  <%= @preference.subject_matter_proficiency %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @preference.time_zone %>
</p>

<p>
  <strong>Dream partner:</strong>
  <%= @preference.dream_partner %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @preference.schedule %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
