<div class="mode">
  <div class="row choose-mode">
    <div class="col col-sm-4 with-project">
      <% id = @course.id %>
      <%= form_with(url: "/courses/" + id.to_s+"/update_mode", method: "patch") do |form|%>
        <%= form.hidden_field :withProject, value: true %>
        <%= form.submit "Create Groups With Project", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col col-sm-4 without-project">
      <%= form_with(url: "/courses/" + id.to_s+"/update_mode", method: "patch") do |form|%>
        <%= form.hidden_field :withProject, value: false %>
        <%= form.submit "Create Groups Without Project", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>