<div class='row profile-row'>
  <div class='col course-profile-column'>
    <p class="course-title">
      <strong><%= @course.name %></strong>
    </p>

    <p class="secondary-title">
      <strong>Pin:</strong>
      <%= @course.pin %>
    </p>

    <p class="secondary-title">
      <strong>Professor:</strong>
      <% professor = @course.professor %>
      <%= professor.firstname + ' '+ professor.lastname  %>
    </p>
    <p class="secondary-title">
      <strong>Course Status:</strong>
    </p>
    <% unless controller_name == 'courses' && action_name == 'show' %>
      <%=  render partial: 'layouts/prof_project_progress'  %>
    <%  end %>
  </div>
<!--  <div class='col course-profile-column'>-->
    <div id="start-voting" style="text-align: center; margin-left:20px; margin-top: 50px">
      <% if controller_name == 'courses' and action_name == 'project_brainstorm' %>
        <%= link_to "Start Project Voting", project_voting_course_path(@course), class: "btn btn-outline-primary"%>
      <% end %>
      <% if controller_name == 'courses' and action_name == 'project_voting' %>
        <%= link_to "Finish Voting", grouping_course_path(@course), class: "btn btn-outline-primary"%>
      <% end %>
    </div>
<!--  </div>-->
</div>