<table class="table table-striped">
  <thead>
  <tr>
    <th scope="row">No.</th>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <% if current_user.type == "Professor" %>
      <td>Group</td>
      <td>Current Status</td>
    <% end %>
    <td>Time Zone</td>
  </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @course.students.each do |s| %>
      <tr>
        <th scope="row"><%= count %></th>
        <td><%= s.firstname %></td>
        <td><%= s.lastname %></td>
        <td><%= s.email %></td>
        <% if current_user.type == "Professor" %>
          <% assigned_group_id = find_student_assigned_group(@course.groups, s.id) %>
          <% if assigned_group_id.nil? %>
            <td>unassigned</td>
          <% else %>
            <td><%= @course.groups.find(assigned_group_id).group_name %></td>
          <% end %>
          <td><%= get_status_with_state(s.takings.where(course_id: @course.id).first.state) %></td>
        <% end %>
        <td><%= s.time_zone %></td>
        <% count += 1 %>
      </tr>
    <% end %>
  </tbody>

</table>
