<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<body class='view4'>
  <div class='container profile-container' id="classroom">
    <%= render partial: "course_info" %>
    <div class="import-csv col-md-6 col-md-offset-3 ", style="margin-left:20px">
      <h5>Enroll all Students with CSV </h5>
      <p>* Please download <%= link_to "Student List Sample CSV", download_student_list_path, target: "_blank" %> for format</p>
      <%= form_for @course, :url => {:action => "parse_file"} do |form| %>
        <%= form.file_field :file %>
        <%= form.submit "Upload", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-6 col-md-offset-3" style="margin-left: 20px; margin-top: 30px">
        <h5> Course Settings </h5>
        <%= simple_form_for @course, wrapper_mappings: { radio_buttons:  :vertical_collection } do |f| %>
          <% if notice %>
            <div class="alert alert-success">
              <%= notice %>
            </div>
          <% end %>
          <%= f.input :minimum_group_member, collection: (1..@course.students.size).to_a %>
          <%= f.input :maximum_group_member, collection: (1..@course.students.size).to_a %>
          <br>
          <% if @course.withProject %>
            <p>How much weight would you like to assign to different preferences in grouping students? </p>
            <% @preference_weight = @course.preference_weight.nil? ? PreferenceWeight.new : @course.preference_weight %>
            <%= f.simple_fields_for :preference_weight, @preference_weight do |p| %>
              <%= p.input :subject_proficiency, as: :radio_buttons, collection: (0..5).to_a, wrapper: :vertical_collection_inline, input_html: { required:true } %>
              <%= p.input :dream_partner, as: :radio_buttons, collection: (0..5).to_a, required:true, wrapper: :vertical_collection_inline, input_html: { required:true } %>
              <%= p.input :time_zone, as: :radio_buttons, collection: (0..5).to_a, required:true, wrapper: :vertical_collection_inline, input_html: { required:true } %>
              <%= p.input :schedule, as: :radio_buttons, collection: (0..5).to_a, required:true, wrapper: :vertical_collection_inline, input_html: { required:true } %>
              <%= p.input :project_voting, as: :radio_buttons, collection: (0..5).to_a, required:true, wrapper: :vertical_collection_inline, input_html: { required:true } %>
            <% end %>
          <% end %>
          <%= f.button :submit, "Submit", class: "btn-primary" %>
        <% end %>

    </div>
  </div>
</body>

<script>
</script>