<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<body class='view4'>
  <div class='container profile-container' id="classroom" >
    <%= render partial: "course_info" %>
    <div class="col-md-6 col-md-offset-3" style="margin-top: 30px">
        <%= bootstrap_form_for(@course) do |f| %>
          <%= f.select :maximum_group_member, (1..10).to_a %>
          <%= f.select :minimum_group_member, (1..10).to_a %>
          <%= f.submit "Submit" %>
        <% end %>
    </div>
  </div>
</body>

<script>
</script>