<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


<body class='view4'>
  <div class='container profile-container' id="classroom" >
    <%= render partial: "course_info" %>

    <div class='row profile-row'>
      <div class='col course-profile-column'>

      <p class="secondary-title">
        <strong>Import Project Lists From The CSV File</strong>
        <p>Please download the sample csv <%= link_to "Sample CSV", download_path, target: "_blank" %></p>
      </p>
      <%= form_for @course, :url => {:action => "parse_file"} do |form| %>
        <span><i class="far fa-arrow-alt-circle-up"></i></span>
        <!-- <%= form.label "Import Project Lists From The CSV File" %> -->
        <%= form.file_field :file %>
        <%= form.submit "Upload", class: "btn btn-primary" %>
      <% end %>




      </div>
    </div>

  </div>
  <div class="projects-list" style="margin-left:140px; margin-right:100px;">
    <%= render partial: "project", course:@course %>
  </div>
</body>