<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @vote.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @vote.course_id %>
</p>

<p>
  <strong>Vote first:</strong>
  <%= @vote.vote_first %>
</p>

<p>
  <strong>Vote second:</strong>
  <%= @vote.vote_second %>
</p>

<p>
  <strong>Vote third:</strong>
  <%= @vote.vote_third %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
