<!DOCTYPE html>
<html>
  <head>
    <title>TeamFormation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4f7943abdb.js" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="navbar-brand">
        <% if current_user %>
          <%= link_to current_user do %>
            <%= image_tag '/assets/logo.png', width: 130, height: 100%>
          <% end %>
        <% else %>
          <%= link_to "/" do %>
            <%= image_tag '/assets/logo.png', width: 130, height: 100%>
          <% end %>
        <% end %>
      </div>
        <ul class="navbar-nav mr-auto mt-4 mt-lg-4">
          <% if !(current_student || current_professor) %>
            <li><%= link_to "Student Sign Up", new_student_registration_path, class: "nav-link" %></li>
            <li><%= link_to "Professor Sign Up", new_professor_registration_path, class: "nav-link" %></li>
          <% else %>
            <li>
              <%= link_to current_user do %>
                <h2><i class="fas fa-home nav-link"></i></h2>
                <h6 style="color: lightgrey">Home</h6>
              <% end %>
            </li>
            <li>
              <% if current_user.type == "Professor" %>
                <%= link_to edit_professor_path(current_professor.id) do %>
                  <h2><i class="fas fa-user-edit nav-link"></i></h2>
                  <h6 style="color: lightgrey">Edit Profile</h6>
                <% end %>
              <% else  %>
                <%= link_to edit_student_path(current_student.id) do %>
                  <h2><i class="fas fa-user-edit nav-link"></i></h2>
                  <h6>Edit Profile</h6>
                <% end %>
              <% end %>
            </li>
            </ul>
            <div class="my-4 my-lg-4">
              <%= link_to destroy_professor_session_path, method: :delete do %>
                <h2><i class="fas fa-sign-out-alt nav-link"></i></h2>
              <% end %>
            </div>
          <% end %>
    </nav>
    <% if current_user %>
      <%= render 'layouts/path'%>
    <% end %>
    <%= yield %>
  </body>
</html>
